AnchorPane{
    -fx-background-image: url("/Media/Images/Backgrounds/TitleScreen.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 800 600;
    -fx-background-position: center center;
}
#IngameNeptune{
    -fx-background-image: url("/Media/Images/Backgrounds/room1.jpg");
}
#IngameNoire{
    -fx-background-image: url("/Media/Images/Backgrounds/room2.jpg");
}
#MiniGameMath{
    -fx-background-image: url("/Media/Images/Backgrounds/MathBackground.png");
}
#MiniGameCatchTheBall{
    -fx-background-image: url("/Media/Images/Backgrounds/CatchTheBallBackground.jpg");
}