#TextUI {
    -fx-effect: dropshadow(three-pass-box, black, 2, 1, 0, 0);
    -fx-text-fill: white;
}

#TextUI:hover {
    -fx-effect: dropshadow(three-pass-box, white, 10, 0, 0, 0);
}

#TextUI:pressed:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}